{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'clearfix',
] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}

    <div class="row persone">
      {% for persona in persone %}
        <div class="col-md-3">
          <div class="persona-content">
            {% if persona.foto %}
              <div><img src="https://archiviostorico.unica.it{{ persona.foto }}" class="foto-persona"
                        alt="{{ persona.titolo }}"/></div>
            {% else %}
              <div><img src="{{ base_url }}/themes/custom/archivio/images/placeholder_persona.png" class="foto-persona"
                        height="600" alt="{{ persona.titolo }}"/></div>
            {% endif %}
            <div><strong><a href="https://archiviostorico.unica.it{{ persona.url }}"
                            target="_blank">{{ persona.titolo }} <img
                    src="{{ base_url }}/themes/custom/archivio/images/external-link.svg"
                    class="external-link"/></a></strong></div>

            {% if persona.tipologia == 'prime_donne' %}
              {% if persona.daticarrieradonne.inizio_carriera %}
                <div>Inizio carriera: {{ persona.daticarrieradonne.inizio_carriera }}</div>
              {% endif %}

              {% if persona.daticarrieradonne.fine_carriera %}
                <div>Fine carriera: {{ persona.daticarrieradonne.fine_carriera }}</div>
              {% endif %}

              {% if persona.daticarrieradonne.facolta %}
                <div>Facoltà: {{ persona.daticarrieradonne.facolta }}</div>
              {% endif %}

              {% if persona.daticarrieradonne.insegnamenti %}
                <div>Insegnamenti: <em>{{ persona.daticarrieradonne.insegnamenti }}</em></div>
              {% endif %}
            {% endif %}

            {% if persona.tipologia == 'rettori' %}
              {% if persona.mandati_rettore %}
                <div>Mandati: {{ persona.mandati_rettore }}</div>
              {% else %}
                {% if persona.inizio_mandato %}
                  <div>Inizio mandato: {{ persona.inizio_mandato }}</div>
                {% endif %}

                {% if persona.fine_mandato %}
                  <div>Fine mandato: {{ persona.fine_mandato }}</div>
                {% endif %}
              {% endif %}

              <div>{{ persona.facolta }}</div>
            {% endif %}

            {% if persona.tipologia == 'docenti_illustri' %}

              {% if persona.daticarrieraillustri.inizio_carriera %}
                <div>Inizio carriera: {{ persona.daticarrieraillustri.inizio_carriera }}</div>
              {% endif %}

              {% if persona.daticarrieraillustri.fine_carriera %}
                <div>Fine carriera: {{ persona.daticarrieraillustri.fine_carriera }}</div>
              {% endif %}

              {% if persona.daticarrieraillustri.facolta %}
                <div>Facoltà: {{ persona.daticarrieraillustri.facolta }}</div>
              {% endif %}

              {% if persona.daticarrieraillustri.insegnamenti %}
                <div>Insegnamenti: <em>{{ persona.daticarrieraillustri.insegnamenti }}</em></div>
              {% endif %}

            {% endif %}

            {% if persona.tipologia == 'honoris_causae' %}
              {% if persona.daticarrierahonoris.fine_carriera %}
                <div>Anno di laurea: {{ persona.daticarrierahonoris.fine_carriera|truncate(4) }}</div>
              {% endif%}

              {% if persona.daticarrierahonoris.facolta %}
                <div>Facoltà: {{ persona.daticarrierahonoris.facolta }}</div>
              {% endif%}

              {% if persona.daticarrierahonoris.corsi %}
                <div>Corso: {{ persona.daticarrierahonoris.corsi }}</div>
              {% endif%}

            {% endif %}

            <div> {# { persona.carriera_extra_accademica|striptags|truncate(100, true, ' [...]') } #}</div>
          </div>
        </div>
      {% endfor %}
    </div>

  {% endblock %}
</div>
