{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'clearfix',
] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {{ attach_library('archivio/leaflet') }}
  <div id="{{ block_unique_id }}" style="height: 400px;"></div>
  <script>
    addEventListener('DOMContentLoaded', (event) => {
      var wms_data_url = "{{ wms_data.0.url }}";
      var wms_data_layer = "{{ wms_data.0.layer }}";
      // Mappa su tutta la Sardegna come fallback assenza punti
      var map = L.map("{{ block_unique_id }}").setView([40.078072, 9.283447], 7);
      // Layers WMS presi da php
      var basemaps = {};
      // Layer base con tile presi da stamen
      basemaps["Terreno"] = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}{r}.{ext}', {
        subdomains: 'abcd',
        minZoom: 0,
        maxZoom: 18,
        ext: 'png',
      });

      if (wms_data_url && wms_data_layer) {
        basemaps[wms_data_layer] = L.tileLayer.wms(wms_data_url.split('?')[0], {
          layers: wms_data_layer,
          // opacity: 0.5,
          format: 'image/png',
          transparent: 'true'
        });
      }

      // Il primo layer WMS come visualizzazione di default
      for (var i = 0; i < Object.values(basemaps).length; i++) {
        Object.values(basemaps)[i].addTo(map);
      }

      // Creazione e visualizzazione dei marker, separati in un gruppo
      var items = {{ omeka_items|json_encode()|raw }};
      console.log(items);
      if (items.length > 0) {
        var markers = L.markerClusterGroup();
        for (var i = 0; i < items.length; i++) {
          var item = items[i]
          if (item.lat && item.lon) {
            var marker = L.marker([item.lat, item.lon], {
              title: item.title
            }).bindPopup('' + '' +
              '<a href="'+item.url+'" target="_blank"><img style="max-width: 100%" src="'+item.image+'" alt=""/>'+item.title+'</a>')
            markers.addLayer(marker);
          }
        }
        map.addLayer(markers);

        //Zoom sul gruppo dei marker
        map.fitBounds(markers.getBounds());
      }
    });
  </script>
</div>
