{#
/**
 * @file
 * Default theme implementation to display an ECK entity.
 *
 * Available variables:
 * - eck_entity: The full ECK entity with limited access to object properties
 *   and methods. Only "getter" methods (method names starting with "get",
 *   "has", or "is") and a few common methods such as "id" and "label" are
 *   available. Calling other methods (such as node.delete) will result in an
 *   exception.
 * - content: All ECK entity items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_eck_entity()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'eck-entity',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="omeka-item">



    <div class="omeka-immagine" style="background-image: url('{{ immagine }}');"></div>
    <div class="titolo"><strong><a href="https://storia.dh.unica.it/risorse/s/colonizzazioninterne/item/{{ omeka_id }}"
                                   target="_blank">{{ titolo }} <img
            src="/colonizzazioninterne/themes/custom/archivio/images/external-link.svg" class="external-link"/></a></strong>
    </div>
    <p>{{ descrizione|striptags|truncate(100, true, ' [...]') }}</p>
  </div>
</div>
