{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
<article{{ attributes }}>
  <div class="persona-full">

    <div{{ content_attributes }}>

      {% if node.isPublished() == false %}
        <div class="alert alert-danger" role="alert">
          Attenzione, la scheda di questa persona non è pubblica.
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-8">
          <div class="contenuto">
            <h1 class="page-title">
              {{ content.field_primo_cognome|field_value }}
              {{ content.field_secondo_cognome|field_value }}
              {{ content.field_terzo_cognome|field_value }}
              {{ content.field_primo_nome|field_value }}
              {{ content.field_secondo_nome|field_value }}
              {{ content.field_terzo_nome|field_value }}
            </h1>

            {{ content.field_sesso }}


            {% if indirizzo %}
                {{ content.field_indirizzo }}
            {% endif %}

            {{ content.field_data_nascita }}
            {{ content.field_data_nascita_anno }}
            {{ content.field_data_di_morte }}
            {{ content.field_data_morte_solo_anno }}
            {{ content.field_luogo_di_morte }}

            <div class="carriere">
              {% if carriere.studente %}
                <p><a href="#carriere-studente">Carriere studente: {{ carriere.studente|length }}</a></p>
              {% endif %}
              {% if carriere.docente %}
                <p><a href="#carriere-docente">Carriere docente: {{ carriere.docente|length }}</a></p>
              {% endif %}
              {% if carriere.rettore %}
                <p><a href="#carriere-rettore">Carriere rettore: {{ carriere.rettore|length }}</a></p>
              {% endif %}
            </div>


          </div>
        </div>

        <div class="col-md-4">
          <div class="contenuto">
            {{ content.field_foto }}

            <div class="tool">
              <ul>
                <li><a href="/segnala-modifiche?persona={{ node.id }}"><i class="fas fa-envelope"></i> Segnala modifiche</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      {% if carriere.studente %}
        <div id="carriere-studente">
          {{ drupal_view('carriera_persona', 'carriera_studente') }}
        </div>
      {% endif %}

      {% if carriere.docente %}
        <div id="carriere-docente">
          {{ drupal_view('carriera_persona', 'carriera_docente') }}
        </div>
      {% endif %}

      {% if carriere.rettore %}
        <div id="carriere-rettore">
          {{ drupal_view('carriera_persona', 'carriera_rettore') }}
        </div>
      {% endif %}

    </div>

  </div>
</article>
