{% block headerSlim %}
  <div class="it-header-slim-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-none d-lg-block navbar-brand" href="https://www.unica.it">{{ ente_appartenenza }}</a>
            <div class="nav-mobile">
              <nav>
                <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu4" role="button" aria-expanded="false" aria-controls="menu4">
                  <span>{{ ente_appartenenza }}</span>
                  {{ macros.icon('it-expand', base_path ~ directory ) }}
                </a>
                <div class="link-list-wrapper collapse" id="menu4">
                  {% if page.header_slim_menu %}
                    {{ page.header_slim_menu }}
                  {% endif %}
                </div>
              </nav>
            </div>
            <div class="it-header-slim-right-zone">
              {% if page.header_slim_lingua %}
                {{ page.header_slim_lingua }}
              {% endif %}
              <div class="it-access-top-wrapper">
                {% if logged_in %}
                  {% if page.header_slim_action %}
                    {{ page.header_slim_action }}
                  {% endif %}
                {% else %}
                  <a class="btn btn-primary btn-sm" href="/colonizzazioninterne/user">{{ 'Log in'|trans }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
