.block-inline-blockhero {

  .field--name-field-bottone {
    margin-top: 40px;

    .field--item {
      float: left;
      margin-right: 40px;
    }

    a {
      color: #fff;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 0 0 2px #fff;
      border-radius: 4px;
      text-decoration: none;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: bold;
    }

  }

  .it-hero-wrapper {
    background-color: #7c7c7c;
  }

  .it-hero-wrapper.it-overlay.it-primary .img-responsive-wrapper::after {
    background: rgba(0,0,0,0.6);
  }
}

.block-inline-blocktesto {
  margin: 40px 0;
}

.block-inline-blockimmagine {
  margin: 40px 0;
  .field--name-field-didascalia {
    text-align: center;
    padding: 10px 0;
    font-style: italic;
  }

  img  {
    width: 100%;
    /*max-width: 100%;*/
  }
}

.block-inline-blockgalleria-immagini {
  margin: 40px 0;
  .field--name-field-didascalia {
    text-align: center;
    padding: 10px 0;
    font-style: italic;
  }

  img  {
    //width: auto !important;
    /*max-width: 100%;*/
    margin: 0 30px;
  }
}

.block-inline-blockimmagine-non-ritagliata {
  margin: 40px 0;
  .field--name-field-didascalia {
    text-align: center;
    padding: 10px 0;
    font-style: italic;
  }

  img  {
    width: 100%;
    /*max-width: 100%;*/
  }
}

.block-inline-blockcard {
  margin: 40px 0;

  .card {
    width: 90%;
  }

  .field--name-field-bottone {
    .field--item {
      float: left;
      margin-right: 30px;
    }

    a  {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: $chiaro;
    }
  }

}

.block-field-blocknodepagetitle {
  font-size: 2.666rem;
  font-weight: bold;
  letter-spacing: -1.2px;
  line-height: 1.25;
}


.block-inline-blockcarousel {
  .it-carousel-wrapper .owl-dots .owl-dot {
    background: $scuro;
  }

  .field--name-field-titolo-hero {
    font-weight: 700;
    color: #17324d;
    margin-bottom: 16px;
    transition: all 0.3s;
    font-size: 1.55556rem;
    line-height: 1.77778rem;
  }
}

.block-inline-blockhomepage-top {

  .field--name-body {
    margin-bottom: 40px;
  }

  .ricerca-home {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid;
    margin-bottom: 40px;

    input {
      display: inline;
      width: 50%;
    }

    button {
      background-color: $scuro;
      border: none;
      margin-left: 10px;
      padding: 8px 20px;
      color: #fff;
      font-weight: bold;
    }
  }

  .field--name-field-bottone {
    .field--item {
      display: inline;
    }

    a {
      display: inline-block;
      color: #fff;
      font-weight: bold;
      background-color: $scuro;
      padding: 10px 30px;
      text-decoration: none;
      margin: 0 50px;
    }

  }

}

.block-facolta-link {
  margin: 30px 0;
  text-align: center;

  a {
    background: $scuro;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
  }
}

.block-inline-blockmosaico {

  .mosaico-item {
    img {
      max-width: 100%;
    }

    position: relative;

    .mosaico-url {
      position: absolute;
      width: 100%;
      bottom: 0;
      background-color: rgba(0,0,0,0.8);
      padding: 10px;
      padding-left: 20px;

      a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }

}

.block-inline-blockomeka {

  .omeka-item {
    margin-right: 50px;
    margin-bottom: 30px;

    .omeka-img {
      height: 400px;
      width: auto;
    }

    .external-link {
      display: inline-block;
    }
  }
}

.block-inline-blockomeka-griglia {

  .omeka-item {
    margin-right: 50px;
    margin-bottom: 30px;

    .omeka-img {
      height: 400px;
      width: auto;
      max-width: 100%;
    }

    .external-link {
      display: inline-block;
    }
  }
}

.block-inline-blockgalleria-immagini-griglia {
  .field--name-field-didascalia {
    text-align: center;
    margin-top: 10px;
  }

  img {
    max-width: 100%;
    margin-top: 40px;
  }
}
