// Pager
.pager {
  text-align: center;
  margin-top: 25px;

  ul {
    li {
      list-style-type: none;
      display: inline;
      padding: 0 5px;
      font-size: 1.2rem;

      &.is-active {
        font-weight: bold;
        text-decoration: underline;
      }

      a {
        text-decoration: none;

      }
    }
  }
}

// Label field
.field--label-inline .field--items, .field--label-inline .field--label {
  float: left
}

.field--label-inline .field--items, .field--label-inline .field--label, .field--label-inline > .field--item {
  padding-right: .5em
}

[dir=rtl] .field--label-inline .field--items, [dir=rtl] .field--label-inline .field--label {
  padding-left: .5em;
  padding-right: 0
}

.field--label-inline .field--label::after {
  content: ':'
}

.nodo-page {
  .it-page-title-wrapper {
    display: none;
  }
}

.btn-primary {
  background-color: $scuro;
  border-color: $scuro;
}



.menu-wrapper {
  a.nav-link {
    font-weight: bold !important;
  }
}

.nav-tabs {
  .nav-link.active {
    border-bottom-color: $scuro;
    color: $scuro;
  }
}

a {
  color: $scuro;
}

#page-user-login {
  a .icon {
    height: auto !important;
  }
}


.icona-carriera {
  height: 25px;
  width: auto;
}

.no-padding{
  padding: 0 !important;
  margin: 0 !important;
}

.block-field-blocknodepagetitle {
  font-size: 40px !important
}
