.maintenance-page {
  text-align: center;
  padding-top: 300px;

  h3 {
    font-size: 3rem;
    font-weight: normal;
  }

  img {
    width: 120px;
    height: auto;
  }

  #demo {
    font-weight: bold;
    padding: 20px 0;
    font-size: 3rem;
  }
}
