.omeka-item {
  .titolo a {
    color: #000000;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
  }

  .omeka-immagine {
    width: 100%;
    height: 600px;
    display: block;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
  }
}
