.persone {

  .persona-content {
    margin-bottom: 40px;

    .foto-persona {
      margin-bottom: 15px;
    }

    a {
      color: #000000;
      font-size: 1.2rem;
      text-decoration: none;
    }

    img {
      width: 100%;
      height: auto;
    }

    .external-link {
      width: 20px;
    }
  }

}
